<div class="header is-clearfix">
  <h1 class="title is-pulled-left">Add a new student</h1>
</div>
<div class="is-divider"></div>

<div class="form">
  <div class="field">
    <label class="label">Student Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter the name of the student" [(ngModel)]="name" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Student First Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter the first name of the student" [(ngModel)]="firstName" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Courses</label>
    <div class="control" *ngFor="let course of courses">
      <input type="checkbox"> {{ course.attributes.name }}
    </div>
  </div>
  <div class="field is-grouped is-pulled-right">
    <p class="control">
      <a class="button is-primary" (click)="onCreateStudent()">Add Student</a>
    </p>
    <p class="control">
      <a class="button is-light">Cancel</a>
    </p>
  </div>
</div>