<div class="header is-clearfix">
  <h1 class="title is-pulled-left">Edit the current course</h1>
</div>
<div class="is-divider"></div>

<div class="field">
  <label class="label">Course Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Enter the name of the course" [(ngModel)]="course.attributes.name" required>
  </div>
</div>
<div class="field">
  <label class="label">Course Institution</label>
  <div class="control">
    <input class="input" type="text" placeholder="Enter the insutition of the course" [(ngModel)]="course.attributes.field_academic_institution" required>
  </div>
</div>
<div class="field">
  <label class="label">Course Instructor</label>
  <div class="control">
    <div class="select">
      <select [(ngModel)]="selectedInstructor">
        <option *ngFor="let instructor of instructors" [ngValue]="instructor">{{ instructor.attributes.name }}</option>
      </select>
    </div>
  </div>
</div>
<div class="field">
  <label class="label">Course Students</label>
  <div class="control" *ngFor="let student of students">
    <input type="checkbox"> {{ student.attributes.name }}
  </div>
</div>
<div class="field is-grouped is-pulled-right">
  <p class="control">
    <a class="button is-primary" (click)="onEditCourse()">Update Course</a>
  </p>
  <p class="control">
    <a class="button is-light" (click)="goBack()">Cancel</a>
  </p>
</div>